# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Videos (too large for Git) - excluding optimized versions
public/videos/*.mp4
!public/videos/output_optimized.mp4
!public/videos/fond_leger.mp4
public/videos/*.mov
public/videos/*.webm
node_modules/
.DS_Store
/dist
mon-portfolio/
